.knowledgebase .content, .server .content {
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: #bbb;
  width: auto; }

.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.row:after {
  clear: both; }

.knowledgebase, .knowledgebase .content .questions, .knowledgebase .content .answer, .server {
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 30px;
  float: left; }

.knowledgebase {
  width: calc((100%/1) - 30px); }
  .knowledgebase .content h3 {
    margin: 0 0 5px; }
  .knowledgebase .content .questions {
    width: calc((100%/12*5) - 30px);
    margin-bottom: 0; }
  .knowledgebase .content .answer {
    width: calc((100%/12*6) - 30px);
    margin-bottom: 0; }

.server {
  width: calc((100%/4) - 30px); }
  @media screen and (max-width: 1440px) {
    .server {
      width: calc((100%/3) - 30px); } }
  @media screen and (max-width: 1280px) {
    .server {
      width: calc((100%/2) - 30px); } }
  @media screen and (max-width: 1024px) {
    .server {
      width: calc((100%/2) - 30px); } }
  @media screen and (max-width: 768px) {
    .server {
      width: calc((100%/1) - 30px); } }
  @media screen and (max-width: 624px) {
    .server {
      width: calc((100%/1) - 30px); } }

.server .content h3 {
  margin: 0 0 5px;
  white-space: nowrap;
  overflow: scroll;
  color: #111; }

.server .content p {
  margin-top: 0; }

.server .content p:last-child {
  margin: 0; }

.server .content .count {
  font-weight: 300; }

.server .content .online {
  color: green; }

.server .content .offline {
  color: red; }
