.file .content {
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: #bbb;
  width: auto; }

.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.row:after {
  clear: both; }

.file {
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 30px;
  float: left; }

.file .content {
  padding: 10px; }
  .file .content .date {
    font-weight: 300;
    font-size: 12px;
    color: #555; }
  .file .content .btn {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    border-bottom: solid;
    border-width: 3px; }
  .file .content .btn:hover {
    border-width: 2px; }
  .file .content a {
    color: white;
    text-decoration: none; }
  .file .content .view {
    background-color: #F59F05;
    border-color: #A87004;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .file .content .download {
    background-color: #29ABE2;
    border-color: #1F75BB;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.file {
  width: calc((100%/5) - 30px); }
  @media screen and (max-width: 1440px) {
    .file {
      width: calc((100%/4) - 30px); } }
  @media screen and (max-width: 1280px) {
    .file {
      width: calc((100%/3) - 30px); } }
  @media screen and (max-width: 1024px) {
    .file {
      width: calc((100%/3) - 30px); } }
  @media screen and (max-width: 768px) {
    .file {
      width: calc((100%/2) - 30px); } }
  @media screen and (max-width: 624px) {
    .file {
      width: calc((100%/1) - 30px); } }

.file .content:hover .btn {
  display: block; }

.file .content {
  position: relative; }
  .file .content .head {
    height: 36px;
    width: 36px;
    float: left; }
    .file .content .head img {
      height: 100%;
      width: 100%; }
  .file .content .date {
    height: 36px;
    float: left;
    line-height: 36px;
    margin-left: 10px; }
  .file .content .btn {
    display: none;
    width: calc(50% + 1px);
    position: absolute;
    padding: 5px 0;
    bottom: -25px; }
  .file .content .view {
    left: -1px; }
  .file .content .download {
    right: -1px; }

.file .content:after {
  content: "";
  clear: both;
  display: table; }
