@import 'global';
@import 'grid';

.knowledgebase{
  @include grid(1);

  .content{
    @extend %panel;
    h3{
      margin: 0 0 5px;
    }
    .questions{
      @include grid-12(5);
      margin-bottom: 0;
    }
    .answer{
      @include grid-12(6);
      margin-bottom: 0;
    }
  }
}

.server{
  @include grid(4);
  @media screen and (max-width: $break-xl) {  @include grid(3);  }
  @media screen and (max-width: $break-l) {  @include grid(2);  }
  @media screen and (max-width: $break-m) {  @include grid(2);  }
  @media screen and (max-width: $break-s) {  @include grid(1);  }
  @media screen and (max-width: $break-xs) {  @include grid(1);  }
}

.server .content{
  @extend %panel;
  h3{
    margin: 0 0 5px;
    white-space: nowrap;
    overflow: scroll;
    color: #111;
  }
  p{
    margin-top: 0;
  }
  p:last-child{
    margin: 0;
  }
  .count{
    font-weight: 300;
  }
  .online{
    color: $green;
  }
  .offline{
    color: $red;
  }
}